<md-sidenav-container>
  <md-sidenav mode="side" opened="false">
    <md-list>
      <h3 md-subheader>Meals Navigation</h3>
      <md-list-item>
        <md-icon md-list-icon>restaurant</md-icon>
        <h4 md-line>Meals</h4>
        <p md-line> Something about meals</p>
      </md-list-item>
      <md-list-item>
        <md-icon md-list-icon>local_grocery_store</md-icon>
        <h4 md-line>Shopping List</h4>
        <p md-line> Something about shopping list</p>
      </md-list-item>
      <md-list-item>
        <md-icon md-list-icon>account_circle</md-icon>
        <h4 md-line>Account</h4>
        <p md-line> Something about account...</p>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <router-outlet></router-outlet>
</md-sidenav-container>