<md-toolbar color="primary">
  <button md-icon-button color="accent" (click)="sidenav.toggle()">
      <md-icon aria-label="Menu">menu</md-icon>
  </button>
</md-toolbar>
<md-sidenav-container id="main-container" fxLayout="column" fxFlexFill fxLayoutAlign="start stretch">
  <md-sidenav mode="side" opened="false" #sidenav>
    <md-list (click)="sidenav.toggle()">
      <h3 md-subheader>Meals</h3>
      <md-list-item routerLink="/meals">
        <md-icon md-list-icon>restaurant</md-icon>
        <h4 md-line>Meals</h4>
        <p md-line>Create new meals and manage existing meals.</p>
      </md-list-item>
      <md-list-item routerLink="/list">
        <md-icon md-list-icon>local_grocery_store</md-icon>
        <h4 md-line>Shopping List</h4>
        <p md-line>Buy the ingedients for the meals in your planner</p>
      </md-list-item>
      <md-list-item routerLink="/settings">
        <md-icon md-list-icon>settings</md-icon>
        <h4 md-line>Settings</h4>
      </md-list-item>
    </md-list>
  </md-sidenav>
  <router-outlet fxLayout="row" fxFlexFill></router-outlet>
</md-sidenav-container>