<!-- <form class="example-form" fxLayout="row" fxFlexFill>
  <md-form-field class="example-full-width" fxLayout="row" fxFlexFill>
    <input mdInput placeholder="Search" aria-label="Search" [mdAutocomplete]="auto" [formControl]="foodCtrl" fxFlexFill>
    <md-autocomplete #auto="mdAutocomplete" fxLayout="row" fxFlexFill>
      <md-option *ngFor="let food of filteredFoods | async" [value]="food.name">
        <img style="vertical-align:middle;" aria-hidden src="{{food.img}}" height="25" />
        <span>{{ food.name }}</span> |
        <small>${{food.cost}}</small>
      </md-option>
    </md-autocomplete>
  </md-form-field>
</form> -->
<md-card *ngFor="let day of days" class="paper">
  <span></span>

  <md-card-header class="paper-header">
    <md-card-title>
      <span>{{day.name}}</span>
      <span class="spacer"></span>
      <span class="floated-right">{{day.date}}</span>
    </md-card-title>
  </md-card-header>
  <md-card-content>
    <ul>
      <li mdLine *ngFor="let meal of day.meals">{{meal}}</li>
    </ul>
  </md-card-content>
</md-card>