/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
app-root {
  min-height: 100vh;
  height: 100vh;
}
body {
  background: #673ab7;
}
.paper-header > div.mat-card-header-text {
  display: flex !important;
  flex: 1 !important;
}
